<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
  <div id="app">
    <template>
        <v-app id="inspire">
            <v-navigation-drawer
            app
            permanent
            color="#3E0D40"
            dark
            width="300"
            >
                <v-row class="fill-height" no-gutters>
                <v-navigation-drawer
                    mini-variant
                    mini-variant-width="64"
                    permanent
                    color="#2D0B30"
                >
                    <v-list
                    dense
                    nav
                    >
                        <v-list-item class="mt-2" v-for="(item, i) in channels" :key="i">
                            <div class="text-center">
                                <v-badge color="red" offset-x="17" offset-y="15" bordered content="24">
                                    <v-avatar tile color="blue" class="rounded-lg" size="38" @click="connectToChannel(item)">
                                        <span>{{ item.name }}</span>
                                    </v-avatar>
                                </v-badge>
                            </div>
                        </v-list-item>
                        <v-list-item class="mt-4">
                            <div class="text-center">
                                <v-avatar tile color="#6B536C" class="rounded-lg" elevation="1" size="38">
                                  <v-icon light>mdi-plus</v-icon>
                                </v-avatar>
                            </div>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
        
                <v-list class="grow">
                    <v-list-item>
                        <v-list-item-title>Channel Title</v-list-item-title>
                    </v-list-item>
                    <v-list>
                        <template v-if="channel">
                            <v-list-item dense class="pl-4" v-for="(room, i) in channel.rooms" :key="i" @click="joinRoom(room)">
                                <span class="ml-2">
                                    {{ room.name }}
                                </span>
                            </v-list-item>
                        </template>
                    </v-list>
                </v-list>
                </v-row>
            </v-navigation-drawer>
            <v-app-bar
                app
                color="white"
                elevation="1"
                style="border-bottom: 1px 1px black;"
            >
                <template v-if="room">
                    <v-toolbar-title>{{room.name}}</v-toolbar-title>
                    <div class="ml-4">
                        <span>
                            <v-icon>mdi-star-outline</v-icon> |
                        </span>
                        <span>
                            <v-icon>mdi-account-multiple-outline</v-icon> 12 | 
                        </span>
                        <span>
                            <v-icon>mdi-pin-outline</v-icon> 2
                        </span>
                    </div>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                        <v-icon>
                            mdi-information-outline
                        </v-icon>
                    </v-btn>
                    <v-btn icon class="mr-2">
                        <v-icon>
                            mdi-cog-outline
                        </v-icon>
                    </v-btn>
                    <v-text-field
                        outlined
                        label="Search"
                        append-icon="mdi-magnify"
                        dense
                        class="mt-6"
                        color="grey lighten-1"
                    ></v-text-field>
                </template>
                <v-spacer></v-spacer>
                <v-menu
                left
                bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                        >
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>
            
                    <v-list>
                        <v-list-item>
                            <v-list-item-title>Option</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-app-bar>
        
            <v-main>
                <v-container
                class="fill-height d-flex align-end pb-0"
                fluid
                >
                    <v-row v-for="i of 30" :key="i">
                        <v-col cols="12">
                            <v-row>
                                <v-col cols="1">
                                    <v-avatar color="teal" tile size="48" class="rounded">
                                        <span class="white--text headline">AM</span>
                                    </v-avatar>
                                </v-col>
                                <v-col cols="11" class="pl-0">
                                    <p class="mb-0"><span class="font-weight-black mr-2">User Name</span><small class="font-weight-light">7:02 PM</small></p>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <v-footer app inset color="white pt-0 d-flex justify-start">
                <v-text-field
                outlined
                label="New message"
                full-width
                prepend-inner-icon="mdi-plus"
                append-icon="mdi-magnify"
                row-heigth="46"
                class="mt-6"
                auto-grow
                color="grey lighten-1"
            >
                    <template slot="append">
                        <v-btn icon color="grey lighten-1" class="mt-n2">
                            <v-icon>mdi-at</v-icon>
                        </v-btn>
                        <v-btn icon color="grey lighten-1" class="mt-n2">
                            <v-icon>mdi-emoticon-happy-outline</v-icon>
                        </v-btn>
                    </template>
                </v-text-field>
                <v-btn @click="sendMessage">Send</v-btn>
                <v-btn @click="onLogin">Login</v-btn>
            </v-footer>
        </v-app>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
  <script>
    const api = axios.create(({
        baseURL: "http://localhost:3000"
    }))

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        isAuthenticated: false,
        payload: {
            username: "amancioandre",
            password: "123456"
        },
        socket: null,
        socketOptions: {},
        sockets: {
            channel: null,
        },
        channel: null,
        channels: null,
        room: null
      },

      methods: {
        async onLogin() {
            try {
                const { data: { accessToken }, status } = await api.post("/auth/login", this.payload)
                localStorage.setItem("user-token", accessToken)
                this.isAuthenticated = true

                const token = localStorage.getItem('user-token')

                this.socketOptions = {
                    transportOptions: {
                            polling: {
                            extraHeaders: {
                                Authorization: `Bearer ${token}`
                            }
                        }
                    },
                }
                this.socket = io.connect(`http://localhost:3000/`, this.socketOptions)

                this.socket.on('loadChannels', (channels) => {
                    if (this.channels !== channels) {
                        this.channels = channels
                    }

                    if (!this.channel) {
                        this.connectToChannel(channels[0])
                    }
                })
            } catch (error) {
                console.log(error)
            }
        },

        onLogout() {
            try {
                localStorage.removeItem("user-token")
                this.isAuthenticated = false
            } catch (error) {
                console.log(error)
            }
        },

        sendMessage() {
            this.socket.emit("messageToRoom", this.message)
        },

        async connectToChannel(channel) {
            if (this.channel && this.channel === channel) {
                return
            }

            this.channel = channel

            if (this.sockets.channel) {
                this.sockets.channel.close()
            }

            this.sockets.channel = io.connect(`http://localhost:3000/${channel._id}`, this.socketOptions)
            this.sockets.channel.on("joinedRoom", (room) => {
                console.log("JOINED ROOM", room)
                this.room = room
            })

            const [room, ...other] = channel.rooms
            this.joinRoom(room)
        },

        joinRoom(room) {
            this.sockets.channel.emit('joinRoom', room._id)
        },
  
        disconnect(from) {
            from.disconnect()
        },
      },
    })
  </script>
</body>
</html>